/** VARIABLES **/
:root{
    --black: #001514;
    --white: #ffffff;
    --blue: #0090C4;
    --gray: #E0E0E0;
    --green: #197F4B;
    --red: #FF002B;
    --esmerald: #DB324D;
}
/** GENERAL STYLES **/
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
    padding: 0px;
}
a{
    text-decoration: none;
}
button{
    background-color: var(--blue);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 15px;
}
h1, h2, h3{
    font-size: 2.5rem;
}
.background-gray{
    background-color: var(--gray);
}
/** HEADER STYLES **/
.header{
    align-items: center;
    background-color: var(--black);
    margin: 0;
    padding: 25px 0px;
    width: 100%;
    text-align: center;
}
.logo-header{
    width: 100px;
}
.header-nav{
    font-size: 1rem;
    text-transform: uppercase;
}
li a{
    color: var(--white);
}
/*************** INDEX ************/
/** BILLBOARD CONTAINER - INDEX **/
.billboard-container, .container-about, .container-services{
    margin: 5% auto;
}
.billboard-container h1{
    font-size: 4rem;
}
.billboard-container h2{
    font-size: 2.5rem;
    font-weight: 300;
}
.billboard-content > *{
    margin: 5% 0;
}
.billboard-img{
    height: 650px;
    width: 100%;
}
/** SECTION ABOUT **/
.container-about, .container-plans{
    padding: 2% 0;
}
.container-about div a{
    padding: 0;
}
.container-about > *{
    margin: 2.5% 0;
}
.btn-about{
    width: 100%;
}
/** SECTION SERVICES **/
.container-services-mobile{
    display: none;
}
.container-services article > *{
    margin: 5% 0;
}
.services-img{
    width: 100%;
}
.content-services{
    max-width: 100%;
}
/** SECTION PLANS **/
.container-plans{

}
.content-plans{

    width: 75%;
}
.article-plans{

    border: 1px solid var(--black);


    border-radius: 20px;



}
.price-text{
    color: var(--green);
    font-weight: 600;
    font-size: 2rem;
}
.article-plans img{
    width: 80%;
}
.article-plans ul li{

}
.article-plans ul li span{
    text-decoration: line-through;
}

/** SECTION CONTACT **/
.content-contact{


    width: 90%;
}
.form-contact{


    width: 40%;
}
.form-contact button{
    width: 20%;

}
textarea{
    max-width: 100%;
}
.form-contact span{
    color: var(--red);
}

/** FOOTER **/
footer{
    background-color: var(--black);
    color: var(--white);


}
.footer ul{

    width: 10%;
}
.footer-social img, .footer-contacto ul{
    width: 100%;
}
.footer-social, .footer-contacto{

    width: 15%;
}
.footer-social ul{

    width: 100%;
}
.footer-social ul li{
    width: 15%;

}
.footer-contacto ul li a{

}
.footer-contacto .footer-img{
    width: 10%;
}
/************ NOSOTROS *********/
.ceo-order{
    order: 2;
}
.dev-order{
    order: 1;
}
.design-order{
    order: 3;
}
.article-about {




    width: 30%;
}
.article-about h3{
    font-size: 1.5rem;
}

/** BOOTSTRAP EDITS **/
.container-fluid{
    margin: 0px;
    padding: 0px;
}

/** MOBILE - BOOTSTRAP EDIT **/
.navbar-toggler{
    background-color: var(--white);
    margin-right: 5%;
    width: 15%;
    height: 50px;
}

/** Media Query **/
@media (max-width: 992px){
    .content-services{
        display: none;
    }
    .container-services-mobile{
        display: inline-block;
    }
    .container-services article > *{
        margin: 2.5% 0;
    }
}
@media (max-width: 768px){
    .header-nav ul li{
        margin: 5% 0;
    }
    .billboard-img{
        height: 500px;
    }
    .container-about article > *{
        margin: 2.5% 0;
    }
}
@media (max-width: 576px){
    .billboard-img{
        height: 300px;
    }
    .container-services article > *{
        margin: 5% 0;
    }
}