.billboard{
    margin: 5% auto;

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 2.5rem;
        font-weight: 300;
    }

    &-content > *{
        margin: 5% 0;
    }

    &-img{
        animation: FadeBillboarImage ease 3s;
    }
}

@media (max-width: 768px){
    .billboard-img{
        height: 500px;
    }
}

@media (max-width: 576px){
    .billboard-img{
        height: 300px;
    }
}