.header{
    align-items: center;
    background-color: $black;
    margin: 0;
    padding: 25px 0px;
    width: 100%;
    text-align: center;

    &-nav{
        font-size: 1rem;
        text-transform: uppercase;
    }
}
.logo-header{
    width: 100px;
}
li{
    a{
        color: $white;
    }
}

.navbar-toggler{
    background-color: $white;
    margin-right: 5%;
    width: 15%;
    height: 50px;
}

@media (max-width: 768px){
    .header-nav li{
        margin: 5% 0;
    }
}